main {
    font-size: 0px;
}

main .box-god {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

main .centered {
    text-align: center;
}

main .box {
    border: 1px solid black;
    display: inline-block;
}

main .half_box {
    width: 50%;
    height: 200px;
}

main .tri_box {
    width: 33.33%;
    height: 300px;
}

main .black {
    background-color: black;
    border: 1px solid;
}

main .green {
    background-color: green;
}

main .grey {
    background-color: grey;
}

main .blue {
    background-color: blue;
}

main .orange {
    background-color: orange;
}
