nav {
	padding-right: 60px;
	padding-left: 60px;
	width: 100%;
	background: grey;
	border: 1px solid black;
	position: fixed;
	height: 50px;
	text-align: right;

}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;

}

.logo {
	position: absolute;
	left: 10px;
	border: 1px solid black;

}

html {
	background: url(../images/outerspace_landscape.jpeg) no-repeat;
	background-size: cover;
}

.greenbox
 {	margin-top: auto;
 	margin-right: auto;
 	margin-left: auto;
 	width: 600px;
 	height: 300px;
 	border: 10px green dotted;
 	position: relative;
 }

 main {
 	padding: 90px;

 }

 .spacecat {
 	width: 200px;
 	height: 200px;
 }

 .spacedog {
 	width: 200px;
 	height: 200px;
 }


